.main-content{
	display: flex;
	flex-direction: column;
	margin-right: 10px;

	h1{
		font-family: $fontHead;
	}

	.feature{
		div{
			position: relative;
			width: 100%;
			cursor: pointer;
			
			img{
				width: 100%;
				display: block
			}

			h1{
				position: absolute;
				bottom: 0;
				left: 0;
				color: #fff;
				background-color: rgba(0,0,0,0.7);
				width: 100%;
				padding: 10px;
				text-transform: uppercase;
				font-size: 30px;
			}
			
		}

		.sub-feature{
			width: 100%;
			display: flex;
			margin-bottom: 20px;
			div{
				margin-right: 5px;
				width: 50%;
			}
			div:last-of-type{
				margin-right: 0;
			}
		}

		.featureThing:hover,
		.featureThing:focus{
			img{
				filter: brightness(150%);
			}
		}

	}

	#mussel img{
			margin-bottom: 5px;
		}

	.article{
		background-color: #fff;
		padding: 25px 20px;
		margin-bottom: 20px;
		h1{
			color: $babyBlue;
			text-transform: uppercase;
			font-size: 2em;
		}
		h2{
			margin-bottom: 20px;
			color: $textColor;
		}

		p{	
			margin-top: 5px;
			margin-bottom: 10px;
			font-family: $fontbody;
			font-weight: light;
			color: $textColor;
		}

		button{
			float: right;
			color: white;
			background-color: $babyBlue;
			border: none;
			padding: 5px;
			text-transform: uppercase;
			font-weight: 700;
			cursor: pointer;
		}
	}



	#older-button{
		background: url('../images/previous_btn.png');
		width: 188px;
		height: 21px;
		border: none;
		margin-top: 10px;
		margin-bottom: 40px;
		cursor: pointer;
		transition: all 0.5s;
	}

	#older-button:hover,
	#older-button:focus{
		background-position: 0 -21px;
	}

}

@media only screen and (max-width: $large) {
	.main-content{
		width: 80%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.article{
		img{
			width: 100%;
		}
	}
}

@media only screen and (max-width: $medium) {

}

@media only screen and (max-width: $small) {
	.main-content{
		.feature{
			.sub-feature{
				flex-direction: column;
				div{
					width: 100%;
				}
			}
			div{
				h1{
					font-size: 1.2em;
				}
			}
		}
	}
} 