// $babyBlue: #1a71a9;

.side-content{

	font-family: $fontbody;
	
	h1{
		background-color: $babyBlue;
		color: #fff;
		text-transform: uppercase;
		padding: 10px;
	}

	.latest-articles{

		h2{
			text-transform: uppercase;
			padding: 10px;
			font-weight: bold;
		}

		div{
			padding: 10px;
		}


		div:nth-of-type(odd){
			background-color: #fff;
		}

		div:nth-of-type(even){
			background-color: #e9e9e9;
		}

		div{
			display: flex;
		}
	}

	.categories{
		margin-top: 20px;
		background-color: #fff;

		ul{
			padding: 10px;

			li{
				margin: 10px 0;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.8em;
			}
		}
	}

	@media only screen and (max-width:970px) {
       display: none;       
    }
}