//fonts
$fontHead: 'Roboto_Condensed_Regular', Arial, sans-serif;
$fontNav: 'Roboto_Condensed_Bold', Arial, sans-serif;
$fontbody: 'Roboto_Light', sans-serif;


//colors
$babyBlue: #1a71a9;
$textColor: #777;