//fonts
$fontHead: 'Roboto_Condensed_Regular', Arial, sans-serif;
$fontNav: 'Roboto_Condensed_Bold', Arial, sans-serif;
$fontbody: 'Roboto_Light', sans-serif;


//colors
$babyBlue: #1a71a9;
$deepBlue: #005991;
$textColor: #777;

//media query breakpoint
$large: 970px;
$medium: 700px;
$small: 560px;
$mobile: 400px;

// Media Query desktop
$desktop: "only screen and (min-width: 971px)";