@charset "utf-8";
/* CSS Document */

// SASS imports go here...
@import "_variables";
@import "_reset";
@import "_header";
@import "_body";
@import "_mainContent";
@import "_sideContent";
@import "_footer";

// overall setting


$fontBody: 'Roboto', sans-serif;

body{
	font-family: $fontBody;
	background: url('../images/bg.jpg');
}

p{
	letter-spacing: 0.05em;
	line-height: 1.4;
}
