@charset "utf-8";
/* CSS Document */

// SASS imports go here...
@import "_reset";
@import "_header";
@import "_body";
@import "_mainContent";
@import "_sideContent";
@import "_footer";

// overall setting

$fontHead: 'Roboto_Condensed_Regular', Arial, sans-serif;
$fontBody: 'Roboto_Light', sans-serif;

body{
	font-family: $fontBody;
	background: url('../images/bg.jpg');
}
